.App {
  text-align: center;
  background-image: url("https://secure.img1-fg.wfcdn.com/im/46754057/resize-h800-w800%5Ecompr-r85/8420/84209975/Keeble+Children+Removable+Peel+and+Stick+Wallpaper+Panel.jpg");
  padding-bottom: 15px;
}

#image {
  min-width: 200px;
  max-width: 200px;
  max-height: 100px;
  min-height: 200px;
  border-radius: 100px;
  margin-top: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.client {
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 20px;
  display: inline-block;
  background: rgb(117, 129, 115);
  border-radius: 15px;
}

#pet {
  margin-top: 5px;
  color: whitesmoke;
  font-family: "Lobster", cursive;
}

h3 {
  color: black;
  display: inline;
}

.navBar {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 5px;
  font-size: 30px;
  font-family: "Lobster", cursive;
  background: rgb(153, 101, 21);
  border: solid rgb(2, 5, 2, 0.2);
}

#navHome {
  color: whitesmoke;
  padding-left: 50px;
}

#navAbout {
  float: left;
  margin-left: 20px;
  color: whitesmoke;
}

#navContactUs {
  float: right;
  margin-right: 20px;
  color: whitesmoke;
}

#title {
  margin-bottom: 40px;
  font-family: "Lobster", cursive;
  font-size: 50px;
  text-align: center;
}

input {
  background: whitesmoke;
}

form {
  background-color: rgb(153, 101, 21);
  border: solid rgb(2, 5, 2, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#inputPetName {
  margin-right: 15px;
  font-family: "Courier New", Courier, monospace;
}

#inputImageLink {
  margin-right: 15px;
  font-family: "Courier New", Courier, monospace;
}

#inputService {
  margin-right: 15px;
  font-family: "Courier New", Courier, monospace;
}

#inputSchedule {
  margin-right: 15px;
  font-family: "Courier New", Courier, monospace;
}

#inputClientsName {
  margin-right: 15px;
  font-family: "Courier New", Courier, monospace;
}

#inputPetNeeds {
  margin-right: 15px;
  font-family: "Courier New", Courier, monospace;
}

#inputBtn {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: rgb(197, 239, 203);
}

#showPetName {
  font-family: "Lobster", cursive;
}

#showImage {
  max-width: 300px;
  min-height: 300px;
  border-radius: 100px;
  margin-bottom: 20px;
}

#deleteBtn {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: rgb(197, 239, 203);
  margin-bottom: 15px;
}

.allPetInfo {
  margin-bottom: 200px;
}

.showNameImg {
  float: left;
  margin-top: -65px;
  margin-left: 500px;
}

.petInfo {
  margin-top: 105px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  background-color: pink;
  padding-top: 10px;
  padding-bottom: 10px;
}

.service {
  background-color: rgb(2, 5, 2, 0.1);
}

#serviceTitle {
  font-size: 35px;
}

.schedule {
  background-color: rgb(2, 5, 2, 0.2);
}

#scheduleTitle {
  font-size: 35px;
}

.clientsName {
  background-color: rgb(2, 5, 2, 0.3);
}

#clientTitle {
  font-size: 35px;
}

.petNeeds {
  background-color: rgb(2, 5, 2, 0.4);
}

#needsTitle {
  font-size: 35px;
}

.about {
  background-color: rgb(169, 197, 160);
  text-align: center;
  padding-top: 30px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 30px;
  border: solid rgba(2, 5, 2, 0.5);
}

#aboutTitle {
  margin-top: -5px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: whitesmoke;
  font-family: "Lobster", cursive;
  font-size: 40px;
  text-decoration: underline;
}

#aboutDescription {
  font-family: 'Zen Antique', serif;
  font-size: 18px;
  color: whitesmoke;
  margin-bottom: 100px;
  border: solid rgba(2, 5, 2, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(2, 5, 2, 0.4);
}

.contact {
  background-color: rgb(169, 197, 160);
  text-align: center;
  padding-top: 30px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 30px;
  border: solid rgba(2, 5, 2, 0.5);
}

#contactTitle {
  margin-top: -5px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: whitesmoke;
  font-family: "Lobster", cursive;
  font-size: 40px;
  text-decoration: underline;
}

#contactDescription {
  font-family: 'Zen Antique', serif;
  font-size: 18px;
  color: whitesmoke;
  margin-bottom: 100px;
  border: solid rgba(2, 5, 2, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(2, 5, 2, 0.4);
}